# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Orginal Files
./AntiTheft/
./Backup/
./BaseStation/
./BaseStation15.4/
./Blink/
./Blink2/
./Blink3/
./Blink4/
./BlinkPrint/
./bootstrap/
./ButtonBlink/
./CoapBlip/
./Makefile
./MultihopOscilloscope/
./MultihopOscilloscopeLqi/
./MViz/
./Null/
./Oscilloscope/
./PacketReceptionRate/
./Powerup/
./PppRouter/
./PPPSniffer/
./QuizMaster/
./QuizPlayer/
./RadioCountToLeds/
./RadioCountToLeds2/
./RadioCountToLeds3/
./RadioCountToLedsSimulate/
./RadioSenseAll/
./RadioSenseToLeds/
./Sense/
./TCPEcho/
./tests/
./tosthreads/
./tutorials/
./UDPEcho/

